{% extends 'layouts/form.html' %}
{% block title %}Cadastro{% endblock %}
{% block content %}
  <form method="post" class="form">
    <h3 class="form-heading">Cadastro <a href="{{ url_for('views.home') }}" title="Voltar à Home"><i class="fa fa-home pull-right"></i></a></h3>
    {{ form.name(class_='form-control first-input', placeholder=form.name.label.text, required=true, autofocus=true) }}
    {{ form.codigo_a(class_='form-control', placeholder=form.codigo_a.label.text, required=true)}}
    {{ form.email(class_='form-control', placeholder=form.email.label.text, required=true) }}
    {{ form.password(class_='form-control', placeholder=form.password.label.text, required=true) }}
    {{ form.confirm(class_='form-control last-input', placeholder=form.confirm.label.text, required=true) }}
    <input type="submit" value="Cadastro" class="btn btn-primary btn-lg btn-block">
    </form>
{% endblock %}
