{% extends 'layouts/main.html' %}
{% block title %}PJ1{% endblock %}
{% block content %}
<form accept-charset="UTF-8" action="{{ url_for('pj1') }}" method="POST">
    <div class="form-group mt-3">
        {{ form.ano_mes(class_='form-control first-input', required=true) }}
        {{ form.assessores(class_='form-control', required=true) }}
        {{ form.tabela(class_='form-control', required=true) }}
        <input type="submit" value="Cadastrar" class="btn btn-primary btn-lg">
    </div>
</form>
{% if tabela == 'investimentos'%}
{{ 1 }}
{% endif %}
{% if tabela == 'previdencia'%}
{{ 2 }}
{% endif %}
{% if tabela == 'co_corretagem'%}
{{ 5 }}
{% endif %}
{% if tabela == 'incentivo_previdencia'%}
{{ 3 }}
{% endif %}
{% if tabela == 'bancoXP'%}
{{ 4 }}
{% endif %}
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Código A</th>
        <th scope="col">Ano/mês</th>
        <th scope="col">Produto</th>
        <th scope="col">Receita Liquida</th>
        <th scope="col">Receita Bruta</th>
      </tr>
    </thead>
    <tbody>
    {% for i in data %}
      <tr>
        <th scope="row">A{{ i.assessor_direto_codigo }}</th>
        <td>{{ i.ano_mes.strftime('%Y/%m') }}</td>
        <td>{{ i.produto }}</td>
        <td>{{ "R$ {:,.2f}".format( 0.01 * i.receita_liquida) }}</td>
        <td>{{ "R$ {:,.2f}".format( 0.01 * i.receita_bruta) }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
