{% extends 'layouts/main.html' %}
{% block title %}Resumo{% endblock %}
{% block content %}
<div class="page-header">
  <h4>Resumo</h4>
</div>

<form accept-charset="UTF-8" action="{{ url_for('views.resumo') }}" method="POST">
  <div class="form-group mt-3">
      {{ form.ano_mes(class_='form-control first-input', required=true) }}
      <br>
      <div {% if not current_user.is_admin %} class="hidden" {% endif %}>
      {{ form.assessores(class_='form-control', required=true) }}
      <br>
      </div>
      <input type="submit" name="action" value="Consultar" class="btn btn-primary btn-lg">
  </div>
</form>
<br>

{% if resumo %}
<table class='table table-hover table-striped table-bordered table-sm'>
  <thead>
    <tr>
      <th class="text-center">Segmento</th>
      <th class="text-center">Descrição</th>
      <th class="text-center">Bruto XP</th>
      <th class="text-center">Líquido XP</th>
      <th class="text-center">Escritório</th>
      <th class="text-center">Comissão</th>
      <th class="text-center">Total (R$)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Investimentos</td>
      <td>Receita</td>
      <td class="text-right">{{ resumo['Investimentos']['Receita']['Bruto XP'] | currency }}</td>
      <td class="text-right">{{ resumo['Investimentos']['Receita']['Líquido XP'] | currency}}</td>
      <td class="text-right">{{ resumo['Investimentos']['Receita']['Escritório'] | currency}}</td>
      <td class="text-right">{{ resumo['Investimentos']['Comissão'] | percent }}</td>
      <td class="text-right">{{ resumo['Investimentos']['Assessor'] | currency }}</td>
    </tr>
    <tr>
      <td>Previdencia</td>
      <td>Receita</td>
      <td class="text-right">{{ resumo['Previdencia']['Receita']['Bruto XP'] | currency }}</td>
      <td class="text-right">{{ resumo['Previdencia']['Receita']['Líquido XP'] | currency }}</td>
      <td class="text-right">{{ resumo['Previdencia']['Receita']['Escritório'] | currency }}</td>
      <td class="text-right">{{ resumo['Previdencia']['Comissão'] | percent }}</td>
      <td class="text-right">{{ resumo['Previdencia']['Assessor'] | currency }}</td>
    </tr>
    <tr>
      <td>Câmbio</td>
      <td>Receita</td>
      <td class="text-right">-</td>
      <td class="text-right">-</td>
      <td class="text-right">{{ resumo['Cambio']['Receita']['Escritório'] | currency }}</td>
      <td class="text-right">{{ resumo['Cambio']['Comissão'] | percent }}</td>
      <td class="text-right">{{ resumo['Cambio']['Assessor'] | currency }}</td>
    </tr>
    <tr>
      <td>Banco XP</td>
      <td>Receita</td>
      <td class="text-right">{{ resumo['Banco XP']['Receita']['Bruto XP'] | currency}}</td>
      <td class="text-right">{{ resumo['Banco XP']['Receita']['Líquido XP'] | currency}}</td>
      <td class="text-right">{{ resumo['Banco XP']['Receita']['Escritório'] | currency}}</td>
      <td class="text-right">{{ resumo['Banco XP']['Comissão'] | percent }}</td>
      <td class="text-right">{{ resumo['Banco XP']['Assessor'] | currency }}</td>
    </tr>
    <tr>
      <td>Co-corretagem</td>
      <td>Receita</td>
      <td class="text-right">{{ resumo['Co-corretagem']['Receita']['Bruto XP'] | currency }}</td>
      <td class="text-right">{{ resumo['Co-corretagem']['Receita']['Líquido XP'] | currency }}</td>
      <td class="text-right">{{ resumo['Co-corretagem']['Receita']['Escritório'] | currency }}</td>  
      <td class="text-right">{{ resumo['Co-corretagem']['Comissão'] | percent }}</td>
      <td class="text-right">{{ resumo['Co-corretagem']['Assessor'] | currency }}</td>
    </tr>
    <tr>
      <td colspan="5"></td>
      <td><b>Total Bruto</b></td>
      <td class="text-right"><b>{{ resumo['Total Bruto'] | currency }}</b></td>
    </tr>
    <tr>
      <td colspan="5"></td>
      <td ><b>Impostos (20%)</b></td>
      <td class="text-right"><b>{{ resumo['Impostos'] | currency }}</b></td>
    </tr>
    <tr>
      <td>Descontos Investimentos</td>
      <td>Desconto</td>
      <td class="text-right" colspan="4"></td>
      <td class="text-right">{{ resumo['Descontos Investimentos'] | currency }}</td>
    </tr>
    <tr>
      <td>Descontos Prêvidencia</td>
      <td>Desconto</td>
      <td class="text-right" colspan="4"></td>
      <td class="text-right">{{ resumo['Descontos Prêvidencia'] | currency }}</td>
    </tr>
    <tr>
      <td colspan="5"></td>
      <td><b>Total Líquido</b></td>
      <td class="text-right"><b>{{ resumo['Total Líquido'] | currency}}</b></td>
    </tr>
  </tbody>
</table>
{% endif %}
{% endblock %}
