{% extends 'layouts/main.html' %}
{% block title %}Usuários{% endblock %}
{% block content %}
<div class="page-header">
  <h4>Comissões</h4>
</div>
<table class="table table-hover table-striped">
    <thead>
      <tr>
        {% for col in query.column_descriptions %}
        <th scope="col" class="text-center">{{ col['name'] }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% for row in query %}
      <tr>
        {% for item, col in row | jinja_zip(row.keys()) %}
        <td class="text-center">{{ item | fmt(filters.get(col,'none_filter')) }}</th>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
