{% extends 'layouts/main.html' %}
{% block title %}Consulta{% endblock %}
{% block content %}
<div class="page-header">
  <h4>Consulta</h4>
</div>
<form accept-charset="UTF-8" action="{{ url_for('views.consulta') }}" method="POST">
    <div class="form-group mt-3">
        {{ form.ano_mes(class_='form-control first-input', required=true) }}
        <br>
        <div {% if not current_user.is_admin %} class="hidden" {% endif %}>
        {{ form.id(class_='form-control', required=true) }}
        <br>
        </div>
        {{ form.tabela(class_='form-control', required=true) }}
        <br>
        <input type="submit" name="action" value="Consultar" class="btn btn-primary btn-lg">
        <input type="submit" name="action" value="Exportar" class="btn btn-primary btn-lg">
    </div>
</form>
<br>

{% if tabela %}
<table class="table table-hover table-striped table-sm">
  <thead>
    <tr>
      {% for col in query.column_descriptions %}
      <th scope="col" class="text-center">{{ col['name'] }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in query %}
    <tr>
      {% for item, col in row | jinja_zip(row.keys()) %}
      {% set filter = tabela.filters.get(col, 'none_filter') %}
        <td class="text-center">{{ item | fmt(filter) }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}